<div class="schedule-wrapper">
  <div class="schedule-header">
    <div class="schedule-title">
      <h1><%= "#{current_user.nickname}さん" %></h1>
    </div>
  </div>
  <div class="schedule-main-screen">
    
  </div>
  <div class="schedule-footer">
    <div class="submit-shift">
      <%= link_to "プロフィールを変更する", "#" %>
    </div>
  </div>
</div>