<div class="schedule-wrapper">
  <div class="schedule-header">
    <div class="schedule-title">
      <h1><%= @schedule.name %></h1>
    </div>
  </div>
  <div class="schedule-main-screen">
    
  </div>
  <div class="schedule-footer">
    <div class="schedule-footer-main"> 
      <div class="submit-shift">
        <%= link_to "シフトを修正する", "#" %>
      </div>
      <div class="submit-shift">
        <%= link_to "シフトを提出する", "#" %>
      </div>
    </div>
      <div class="back-to-top">
        <%= link_to "戻る", root_path %>
      </div>
  </div>
</div>