html {
  height: 100vh;
  width: 100vw;
}

body,
h1,
p,
input,
ul,
li {
margin: 0;
padding: 0;
}

h1 {
  font-size:100%;
  font-weight:normal;
}


ul {
  list-style: none;
}

input {
  font-size: 100%;
}

#yui3-css-stamp.cssreset { display: none; }