.wrapper {
  display: flex;
}

.side-bar {
 background-color: #CC6600;
 width: 300px;
 height: 100vh;
}

.side-bar-header {
 height: 100px;
 padding: 0 20px;
 display: flex;
 align-items: center;
 justify-content: center;
}

.create-room a {
 text-decoration: none;
 color: #f8f8ff;
 border: 1px solid #FF570D;
 font-size: 10px;
 padding: 14px;
}

.side-bar-main {
 padding: 0 20px;
 height: calc(100vh - 100px);
 background-color: #F8F8FF;
 border-right: 1px solid #CC6600;
 overflow: scroll;
}

.room {
 padding: 20px 0 40px;
}

.room-name a {
 text-decoration: none;
 color: #110000;
}

.shift-screen {
 background-color: #F8F8FF;
 width: calc(100vw - 300px);
}

.shift-screen-header {
 height: 100px;
 border-bottom: 1px solid #CC6600;
 padding: 0 40px;
 display: flex;
 align-items: center;
}

.header-title a {
 font-size: 30px;
 text-decoration: none;
 color: #110000;
}

.main-header {
 padding-left: 50px;
 width: 100%;
}

.search-input {
 padding: 10px;
 border: none;
 border-radius: 10px;
 background-color: #DCDCDC;
 width: 60%;
}

.search-btn {
 background-color: #CC6600;
 border-radius: 10px;
 color: #F8F8FF;
 font-size: 15px;
 padding: 10px;
 border: none;
 width: 70px;
}

.shift-screen-main {
 height: calc(100vh - 100px);
 padding: 50px 40px;
}

.schedule {
 display: flex;
 justify-content: space-between;
 padding: 5px;
}

.schedule-name a {
 text-decoration: none;
 color: #110000;
 font-size: 20px;
 padding-left: 150px;
}

.schedule-date {
 color: #aaaaaa;
 padding-right: 100px;
}
