.contents {
  width: 100vw;
  height: 100vh;
  background-color: #f8f8ff;
  display: flex;
  justify-content: center;
}

.container {
  height: 60%;
  width: 60%;
  margin-top: 130px;
  padding: 0 50px 50px;
  background-color: white	;
  position: relative;
}

.action {
  text-decoration: none;
  color: #aaaaaa;
  position: absolute;
  bottom: 40px;
  right: 40px;
}

.remind {
  text-decoration: none;
  color: #aaaaaa;
  position: absolute;
  bottom: 40px;
  left: 40px;
}

h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 20px 0;
  color: #aaaaaa;
}

.field {
  margin-bottom: 10px;
}

.field label {
  color: #aaaaaa;
}

.field em {
  color: #aaaaaa;
} 

.form-input {
  padding: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 10px;
  width: 100%;
}

.actions input {
  background-color: #CC6600;
  border-radius: 10px;
  color: #F8F8FF;
  font-size: 100%;
  padding: 10px;
  border: none;
  width: 80px;
}